@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'tailwindcss';

@theme {
  --font-sans: 'Poppins', sans-serif;
}

:root {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  font-family: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.04em;
}

p,
span,
a,
button,
input,
textarea,
select {
  font-family: 'Poppins', sans-serif;
}
